*~
# autotools
Makefile
*.lo
*.in
.deps
.libs
*.la
*.a
*.o
*.orig
*.tar.*
aclocal.m4
autom4te.cache
autoscan*.log
compile
config.*
configure
configure.scan
depcomp
install-sh
libtool
ltmain.sh
missing
src/shairport
src/shairport.exe
stamp-h1
